.profile-container{
    background-color: #ffff;
}

.profile-navbar>li>a{
    display: block;
    border: #c5c5c5 solid 1px;
    border-radius: 3px;
    padding: 15px;
    text-decoration: none;
    color: #000;
    transition: background 0.2s
}

.profile-navbar>li>a:hover{
    background-color: #eee;
}

.profile-navbar>li{
    margin-left: 50px;
}

