{% load static %}
{% load thumbnail %}
{% for ad in filter.qs %}
	<li>
		<div class="img-holder">
			{% if ad.image %}
			<img src="{% thumbnail ad.image 'default' %}" alt="img" class="my-img">
			{% else %}
			<img src="{% static 'main/images/foto_not_found.png' %}" width="103" height="103" alt="img" class="my-img">
			{% endif %}
		</div>
		<div class="content">
			<div class="top-info">
				<div class="info-content">
					<div class="title-content"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></div>
					<div class="description">{{ ad.content|truncatechars:15 }}</div>
					<p>{{ ad.region }}</p>
				</div>
				<span class="price">{{ ad.price }} тг.</span>
			</div>
			<div class="dropdown-divider"></div>
			<div class="bottom-info">{{ ad.created_at }}</div>
		</div>
	</li>
{% endfor %}