{% for category in categories %}
	<li>
		<a href="{{ category.get_absolute_url }}">
			<i class="{% cycle 'material-icons fas fa-car-alt' 'material-icons fas fa-child' 'material-icons fas fa-paw' 'material-icons fas fa-couch' 'material-icons fas fa-mobile' 'material-icons fas fa-home' 'material-icons fas fa-wrench' 'material-icons fas fa-concierge-bell' 'material-icons fas fa-puzzle-piece' 'material-icons fas fa-desktop' %}"></i>
			<span class="title">{{ category.name }}</span>
		</a>
	</li>
{% endfor %}