{% load bootstrap4 %}
<div class="col">&nbsp;</div>
<form class="col-md-auto form-inline">
	{% bootstrap_form form show_label=False %}
	{% bootstrap_button content='Искать' button_type='submit' %}
</form>