body{
    background-color: #f2f2f2;
}

li{
    list-style-type: none;
}

.topmenu{
    display: flex;
    padding-top: 20px;
}

.topmenu>li{
    margin-left: 40px;
}

.far{
    font-size: 35px;
}

.fa-star {
    color:#FFBF40;
}

.fa-user{
    color: #00CC00;
}

.form-inline .form-control{
    width: 300px;
    height: 50px;
}

.main{
    background-color: #ffff;
}

.select-city{
    background-color: #f2f2f2;
    padding-bottom: 5px;
}

.select-city>ul>li{
    margin-left: 30px;
}

.nav-list {
    letter-spacing: -5px;
    background-color: #ffff;
}

.nav-list>li{
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 20%;
    margin: 0 0 20px;
    box-sizing: border-box;
    text-align: left;
    padding: 0 8px;
}

.title{
    display: block;
    line-height: 16px;
    color: #0093dd;
    font-size: 16px;
    padding: 0;
    position: relative;
    top: -35px;
    left: 60px;
    width: 125px;
}

.nav-list a{
    display: block;
    border-radius: 3px;
    overflow: hidden;
    text-decoration: none;
    border: none;
    height: 75px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.material-icons{
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
}

.product-list{
    display: flex;
    flex-direction: column;
}

.top-info{
    position: relative;
}

.bottom-info{
    padding-left: 130px;
}

.product-list .price {
    position: absolute;
    top: 0;
    right: 0;
    color: #231f20;
    font-size: 18px;
    line-height: 20px;
    padding-right: 50px;
}

.product-list>li{
    margin-bottom: 50px;
}

.title-content{
    font-size: 22px;
}

.description{
    font-size: 15px;
}

.product-list .img-holder {
    float: left;
    width: 105px;
    margin: 0 22px 0 0;
    border: #dedede solid 1px;
    overflow: hidden;
    border-radius: 3px;
}
.my-img{
    width: 100%;
}

a{
    color: #0093dd;
    outline: none;
    text-decoration: underline;
}

.pagination{
    margin-top: 50px;
    margin-bottom: 50px;
}

.detail-all {
    background-color: #ffff;
}

.main-content-details{
    margin-left: 50px;
}

.main-content-details>li{
    margin-top: 15px;
}

.main-content-image {
    height: 451px;
    width: 418px;
}

.card{
    margin-top: 70px;
    margin-right: 50px;
}

.card-number{
    background:#0093dd;
    padding: 11px 20px;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.detail-price{
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    background: #3eac00;
    padding: 10px 20px;
    width: 120px;
    text-align: center;
    border-radius: 3px;
}

.divider{
    border-top: 1px solid #00000f;
}

.breadcrumb {
    background-color: #fff;
    padding: 0;
    margin: 0 -2px;
    list-style: none;
    color: #000;
}

.breadcrumb a {
    display: block;
    padding: 0 11px 0 0;
    position: relative;
    transition: color 0.2s ease;
    text-decoration: none;
}