<div class="container">
	<div class="row no-gutters">
		<div class="col-md-12">
			<nav>
				<ul class="profile-navbar d-flex justify-content-center">
					<li><a href="{% url 'users:profile' %}">Профиль</a></li>
					<li><a href="{% url 'users:user_profile_ads' %}">Мои объявления</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>