{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} Удаление пользователя {% endblock %}</title>
	</head>
	<body>
		{% block content %}
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Удалить">
		</form>
		{% endblock %}
	</body>
</html>