{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Смена пароля{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<h2>Смена пароля</h2>
			<form method="post">
				{% csrf_token %}
				{% bootstrap_form form layout='horizontal' %}
				<input type="submit" value="Изменить">
			</form>
		{% endblock %}
	</body>
</html>