{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Профиль{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			{% include 'users/includes/profile_navbar.html' %}
			<div class="container profile-container">
				<div class="row no-gutters">
					<div class="col-md-12">
						{% if user.first_name %}
							<h2>Добро пожаловать, {{ user.first_name|capfirst }}</h2>
						{% elif user.username %}
							<h2>Добро пожаловать, {{ user.username }}</h2>
						{% else %}
							<h2>Добро пожаловать</h2>
						{% endif %}
						<h2>Контактные данные</h2>
							{{ user.first_name }}
							{{ user.email }}
							{{ user.city }}
							{{ user.address }}
							{{ user.phone_number }}
							{% if user.avatar %}
								<img src="{{ user.avatar.url }}" alt="avatar">
							{% else %}
								<p>Аватара нет</p>
							{% endif %}
						<h3><a href="{% url 'users:profile_edit' %}">Редактировать профиль</a></h3>
						<h3><a href="{% url 'users:user_logout' %}">Выйти</a></h3>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>