{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Ошибка активации{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<h2>Активация</h2>
			<p>Активация прошла неудачно</p>
			<p><a href="{% url 'users:register_user' %}">Попробуйте снова</a></p>
		{% endblock %}
	</body>
</html>