{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} Вход {% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<div class="container login-cont">
				<div class="row no-gutters">
					<div class="main-login">
						<div class="title-login">
							<h4><a href="{% url 'main:index' %}">На главную</a> > Авторизация</h4>
						</div>
					</div>
					<div class="login-block">
						<form method="post">
							{% csrf_token %}
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
							{% if form.non_field_errors %}
								<ul>
									{% for error in form.non_field_errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% for field in form.visible_fields %}
								{% if field.errors %}
									<ul>
										{% for error in field.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								{% endif %}
								<p>
									{{ field.label_tag }}
									<br>
									{{ field }}
								</p>
							{% endfor %}
							<input type="hidden" name="next" value="{{ next }}">
							{% buttons submit='Войти' %}{% endbuttons %}
						</form>
					</div>
					<div class="login-social-auth">
						<p>Авторизироваться с помощью социальных сетей:</p>
						<a href="{% url 'social:begin' 'vk-oauth2' %}">Vk</a>
					</div>
					<a href="{% url 'users:register_user' %}">Зарегистрироваться</a>
				</div>
			</div>
		{% endblock %}
	</body>
</html>