{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Регистрация{% endblock %}</title>
	</head>
	<body>
		{% block content %}
		<h2>Регистрация</h2>
		<p>Регистрация завершена. На вашу почту отправлено письмо для активации аккаунта</p>
		{% endblock  %}
	</body>
</html>