{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Пользователь активирован{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<h2>Активация</h2>
			<p>Пользователь уже был активирован ранее</p>
			<p><a href="{% url 'users:user_login' %}">Войти на сайт</a></p>
		{% endblock %}
	</body>
</html>