{% extends 'layout/basic.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} О нас {% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<h2>В разработке</h2>
		{% endblock %}
	</body>
</html>