{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Создание объявления{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<div class="container profile-container">
				<div class="row no-gutters">
					<div class="col-md-12">
					<h2>Создание объявления</h2>
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% bootstrap_form form layout='horizontal' %}
							{% bootstrap_formset formset layout='horizontal' %}
							<input type="submit" value="Опубликовать">
						</form>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>