{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Удаление объявления{% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<div class="container profile-container">
				<div class="row no-gutters">
					<div class="col-md-12">
						<h2>Удаление объявления</h2>
						<form method="post">
							{% csrf_token %}
							<input type="submit" value="Удалить">
							<a href="{% url 'main:index' %}">Отмена</a>
						</form>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>