{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Объявление - {{ ad.title }}{% endblock %}</title>
</head>
<body>
{% block content %}
    <div class="container detail-all">
        <div class="row no-gutters">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'main:index' %}">Объявление ></a></li>
                    <li>
                        <a href="{% url 'main:category_detail' slug=current_subcategory.category.slug %}">{{ current_category }}
                            ></a></li>
                    <li>
                        <a href="{% url 'main:subcategory_detail' slug=ad.subcategory.slug %}">{{ current_subcategory }}</a>
                    </li>
                </ul>
            </div>
            <div class="details col-md-8">
                <ul class="main-content-details d-flex flex-column">
                    <li>
                        <div class="main-content-title">
                            <h2>{{ ad.title }}</h2>
                        </div>
                    </li>
                    <li>
                        {% if is_favorite %}
                        <a href="{% url 'main:favorite_ad' slug=ad.slug %}" title="Избранное">
                            <i class="fas fa-star"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'main:favorite_ad' slug=ad.slug %}" title="Избранное">
                            <i class="far fa-star"></i>
                        </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if ad.image %}
                            <img src="{{ ad.image.url }}" alt="img" class="my-img">
                        {% else %}
                            <img src="{% static 'main/images/foto_not_found.png' %}"
                                 alt="img" class="my-img">
                        {% endif %}
                    </li>
                    <li>
                        <div class="main-content-text">
                            <p>{{ ad.content }}</p>
                            <p>
                                {% if ad.author == user %}
                                    <a href="{{ ad.get_edit_url }}">Редактировать</a>
                                    <a href="{{ ad.get_delete_url }}">Удалить</a>
                                {% endif %}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contacts cold-md-4">
                <div class="detail-price">{{ ad.price }}тг.</div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-number">{{ ad.author.phone_number }}</h5>
                        <div class="card-text">
                            <p>Продавец: {{ ad.author.username }}</p>
                            <p>Адрес: <strong>{{ ad.author.address }}</strong></p>
                            <p>{{ ad.contact_details }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 new-comment">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <input type="submit" value="Отправить">
                </form>
            </div>
            <div class="comments col-md-12 mt-5">
                <h3>Все комментарии</h3>
                {% for comment in comments %}
                    <div class="comment my-2 p-2">
                        <h5>{{ comment.autho }}</h5>
                        <p>{{ comment.content }}</p>
                        <p class="text-right font-italic">{{ comment.created_at }}</p>
                        <hr class="divider">
                    </div>
                {% endfor %}
            </div>
            <div class="product-list col-md-12 mt-5">
                <h3>Похожие объявления</h3>
                <ul>
                    {% for sa in similar_ads %}
                        <li>
                            <div class="img-holder">
                                {% if sa.image %}
                                    <img src="{% thumbnail sa.image 'default' %}" alt="img" class="my-img">
                                {% else %}
                                    <img src="{% static 'main/images/foto_not_found.png' %}" width="103" height="103"
                                         alt="img" class="my-img">
                                {% endif %}
                            </div>
                            <div class="content">
                                <div class="top-info">
                                    <div class="info-content">
                                        <div class="title-content"><a
                                                href="{{ sa.get_absolute_url }}">{{ sa.title }}</a>
                                        </div>
                                        <div class="description">{{ sa.content|truncatechars:15 }}</div>
                                        <p>{{ sa.region }}</p>
                                    </div>
                                    <span class="price">{{ sa.price }}тг.</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="bottom-info">{{ sa.created_at }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>