{% extends 'layout/basic.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		{% block content %}
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-12 main">
						<div class="nav-block">
							{% include 'includes/regions.html' %}
							<ul class="nav-list">
								{% include 'includes/categories.html' %}
							</ul>
						</div>
						<div class="main-wrap">
							<div class="main-content">
								<ul class="product-list">
									{% include 'includes/ads.html' %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>