{% extends 'layout/basic.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} Избранное {% endblock %}</title>
	</head>
	<body>
		{% block content %}
			{% include 'users/includes/profile_navbar.html' %}
		<div class="container profile-container">
				<div class="row no-gutters">
					<div class="col-md-12 main">
						<div class="main-wrap">
							<div class="main-content">
								<ul class="product-list mt-5">
                                    {% for fav in favorite_ads %}
                                        {{ fav.title }}
                                    {% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>