{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} {{ current_subcategory }} {% endblock %}</title>
	</head>
	<body>
		{% block content %}
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-12 main">
						<div class="nav-block">
							{% include 'includes/regions.html' %}
							<div class="breadcrumb-holder">
								<ul class="breadcrumb">
									<li><a href="{% url 'main:index' %}">Объявления</a></li>
									<li>-> <a
											href="{% url 'main:category_detail' slug=current_subcategory.category.slug %}">{{ current_category }}</a>
									</li>
									<li>-> {{ current_subcategory }}</li>
								</ul>
							</div>
							<ul class="nav-list">
								{% include 'includes/subcategories.html' %}
							</ul>
                            <form method="get">
                                {{ filter.form }}
                                <input type="submit" value="Поиск">
                            </form>
						</div>
						<div class="main-wrap">
							<div class="main-content">
								<ul class="product-list">
                                    {% include 'includes/ads_filtered.html' %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>