{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Объявления{% endblock %}</title>
		{% bootstrap_css %}
		<link rel="stylesheet" href="{% static 'main/styles-index.css' %}">
		<link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
		<link rel="stylesheet" href="{% static 'users/styles-log-in.css' %}">
		<link rel="stylesheet" href="{% static 'users/profile.css' %}">
		{% bootstrap_javascript jquery='slim' %}
	</head>

	<body>
		<div class="container">
			<header>
				<div class="menu-row no-gutters">
					<div class="col-12-md">
						<nav>
							<ul class="topmenu">
								<li>
									<a href="{% url 'main:index' %}"><img src="{% static 'main/images/Logo.png' %}"
									                                      alt="Logo"
									                                      width="120"></a>
								</li>
								<li>
									{% block search %}
									{% endblock %}
								</li>
								<li>
									<a href="{% url 'main:favorite_ads_list' %}" title="Избранное"><i class="far fa-star"></i></a>
								</li>
								<li>
									{% if not user.is_authenticated %}
										<a href="{% url 'users:user_login' %}" title="Личный кабинет"><i
												class="far fa-user"></i></a>
									{% else %}
										<a href="{% url 'users:profile' %}" title="Личный кабинет"><i
												class="far fa-user"></i></a>
									{% endif %}
								</li>
								<li>
									<h5><a href="{% if not user.is_authenticated %}{% url 'users:user_login' %}{% else %}{% url 'main:ad_create' %}{% endif %}">
										Подать объявление
									</a>
									</h5>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
		</div>

		{% block content %}
			<h2>Объявлений нет</h2>
			{% block pagination %}
			{% endblock %}
		{% endblock %}
	</body>
</html>